.footer {
    box-sizing: border-box;
    background-color: rgb(51,51,51);
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}