<app-header></app-header>

<div class="page-login">
    <h2>Iniciar Sesión</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-container">
  <mat-form-field>
    <mat-label >Ingresa tu usuario</mat-label>
    <input matInput formControlName="user" />
    <mat-error *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched">
      El usuario es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput      formControlName="password" [type]="hide() ? 'password' : 'text'" />
      <button
        matIconButton
        matSuffix
        type="button"
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide contrasena'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

  </mat-form-field>

 
  <button mat-flat-button color="primary" type="submit">Ingresar</button>
  
  </form>
    
  <p class="error" *ngIf="mensajeError">{{ mensajeError }}</p>

 

</div>



<app-footer class="footer"></app-footer>
