<app-header></app-header>

<body>
<div class="page-login">
    <h2>Iniciar Sesión</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-container">
  <mat-form-field>
    <mat-label >Ingresa tu usuario</mat-label>
    <input matInput formControlName="user" />
    <mat-error *ngIf="loginForm.get('user')?.invalid && loginForm.get('user')?.touched">
      El usuario es obligatorio
    </mat-error>
  </mat-form-field>

  
    <mat-form-field>
      <mat-label>Ingresa tu contraseña</mat-label>
      <input matInput      formControlName="password" [type]="hide() ? 'password' : 'text'" />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide contrasena'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    </mat-form-field>
    <button matButton="filled" (click)="showData = true">Ingresar</button>
  </form>
    @if (showData){
      <div  class="mt-4">
          <h3>Datos ingresados:</h3>
          <p><strong>Usuario:</strong> {{ loginData.user }}</p>
          <p><strong>Contraseña:</strong> {{ loginData.password }}</p>
     </div>}
</div>

</body>
<app-footer></app-footer>
